.mainIdeaContainer {
  background-color: var(--form-background-color);
  border-radius: var(--box-radius);
  margin-bottom: 2rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: space-around;
  margin: 0 2rem 0 2rem;
}

.titleIdea {
  padding: 1rem 0 1rem 0;
}

.titleIdeaInput {
  padding: 5px;
  width: 100%;
  border-radius: 10px;
  border: none;
  background-color: var(--cases-form-background-color);
}

.themeSelectionForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding: 0 0 1rem 0;
}

#theme-select {
  width: 20rem;

  border-radius: 10px;
  border: none;
  background-color: var(--cases-form-background-color);
  padding: 5px;
}

.descriptionIdea {
  padding: 0 0 1rem 0;
}

input {
  overflow: hidden;
}

.descriptionIdeaInput {
  min-height: 7rem;
  width: 100%;
  border-radius: 10px;
  border: none;
  padding: 5px;
}

textarea {
  background-color: var(--cases-form-background-color);
}

.remaining-characters {
  color: #aca6a6;
}

.fileAndLink {
  margin: 0 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.file {
  display: flex;
  padding-bottom: 1rem;
}

.addFile {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  width: 30%;
  min-width: 10rem;
  height: 5rem;
  border: solid;
  border-radius: 10px;
  background-color: var(--cases-form-background-color);
  border: none;
}

.themeSelectionForm {
  align-items: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.formLink {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 3px;
}

/* .inputFile {
  background-color: red;
} */

#file-upload-button {
  margin: 10rem;
}

.link {
  display: flex;
}

.inputLink {
  width: 90%;
  border: solid;
  border-radius: 10px;
  background-color: var(--form-background-color);
  border: none;
}

.submission {
  padding: 1rem;
  display: flex;
  width: 100%;
}

.submission button {
  margin: 1rem;
  width: 30%;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

.submission button:first-child {
  background-color: var(--cases-form-background-color);
}

.submission button:last-child {
  background-color: var(--primary-color);
  color: white;
}

.submission button:first-child:hover {
  background-color: #aca6a6;
  color: white;
}
.submission button:first-child:active {
  scale: 1.01;
}

.submission button:last-child:hover {
  background-color: var(--secondary-color);
  color: white;
}

.submission button:last-child:active {
  scale: 1.01;
}
