.commentaireListe {
  display: grid;
  grid-template-rows: 1fr 50px;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  max-height: 100%;
  height: 55vh;
  /* width: 16vw; */
  min-width: 20vw;
  background-color: var(--primary-color);
  box-shadow: 5px 5px 20px rgba(3, 14, 128, 0.2);
}

.comms {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.noComment {
  color: white;
  border: solid;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.insererCommentaire {
  width: 95%;
  padding-top: 0.75rem;
}

textarea {
  width: 95%;
  border-radius: 10px;
  border: none;
  background-color: white;
}

textarea:focus {
  background-color: rgb(248, 243, 243);
  outline: none !important;
}

.fermetureCommentaires {
  color: white;
}

.fermetureCommentaires:hover {
  color: rgb(60, 58, 58);
  cursor: pointer;
}

.fermetureCommentaires:active {
  scale: 1.2;
  color: white;
}

.comms::-webkit-scrollbar-track {
  border-radius: 10px;
}

.comms::-webkit-scrollbar {
  border-radius: 10px;
  width: 10px;
}

.comms::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 1rem;
  border: 1px solid var(--secondary-color);
}
