.commentairesContainer {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  margin-bottom: 0.25rem;
  color: white;
}

.commentairesContainer:hover {
  background-color: #1f76cd;
  scale: 1.01;
}

.infoUser {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.userAndDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.date {
  font-size: small;
}

.like {
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
}

.texte {
  display: flex;
  justify-content: flex-start;
}

@media screen and (width > 2400px) {
  .commentairesContainer {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
