.commentairesContainer {
  padding: 0.5rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  margin-bottom: 0.25rem;
  color: white;
}

.commentairesContainer:hover {
  background-color: #1f76cd;
  scale: 1.01;
}

.infoUser {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.userAndDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.like {
  display: flex;
  justify-items: flex-end;
  align-items: flex-end;
}
