.ideeListe {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: aqua; */
  box-sizing: border-box;
}

.triDate {
  padding: 0.5rem;
}

.triDate button {
  margin: 0.5rem;
}
