.ideaContainer {
  background-color: lightgray;
  border-radius: 5px;
  width: 50vw;
  border: solid 1px;
  height: auto;
  margin-bottom: 1rem;
}

.titleContainerSmall {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: bisque;
  width: 100%;
}

.titleIdeaSmall {
  flex: 1;
  text-align: left;
}

.commentsandlikesSmall {
  flex: 0.5;
  text-align: right;
}

.modifiedIdeaSmall {
  flex: 0.5;
  text-align: right;
}

.published {
  background-color: aliceblue;
  text-align: start;
}

.theme {
  background-color: aliceblue;
  text-align: start;
}

.textIdea {
  background-color: aquamarine;
}

.imageIdea {
  width: auto;
}

.imageIdea img {
  width: 90%;
  max-height: 150px;
  height: auto;
}

.bottomIdea {
  display: flex;
  justify-content: flex-start;
}
.resources {
  display: flex;
  background-color: blue;
  width: 70%;
}

.titleContainerBig {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: bisque;
  border-radius: 5px;
  width: 100%;
}

.modifiedIdeaBig {
  display: flex;
  align-items: flex-end;
  width: 30%;
  background-color: rgb(250, 215, 215);
}

.avatar {
  padding: 3px;
}

.titleIdeaBig {
  flex: 1;
  text-align: left;
}
