.mainContainer {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  margin-top: 40px;
  margin-left: 21%;
  margin-bottom: 40px;
  height: calc(100vh - 80px);
}

.ideasContainer {
  display: flex;
  flex-direction: column;
}

.titleIdeas {
  margin-left: 3rem;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: white;
  width: fit-content;
  font-size: 20px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: none;
  cursor: pointer;
}

.selectionAndDisplay {
  background-color: white;
  padding-right: 1rem;
  height: auto;
  border: none;
  border-width: 2px;
  border-radius: var(--box-radius);
  width: 100%;
  padding-bottom: 1rem;
}

@media screen and (width < 1000px) {
  .mainContainer {
    margin-left: 40px;
  }

  .ideasContainer {
    height: 85vh;
  }
  .selectionAndDisplay {
    padding-right: 0.5rem;
  }
  /* .titleIdeas {
    margin-top: 5vh;
  } */
}

@media screen and (width < 350px) {
  .mainContainer {
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2vh;
  }
}
