.containerFullPro {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 21%;
  height: calc(100vh - 80px);
}

.mainContentPro {
  background-color: white;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  border-radius: 50px;
  box-shadow: var(--shadow-card-dark);
  height: 100%;
}

@media screen and (max-width: 1000px) {
  .mainContentPro {
    padding: 2.5% 0;
  }

  .containerFullPro {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 40px;
    height: 100%;
    background-color: rgb(190, 190, 190);
  }
}
