.containerFullPro {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 21em;
  height: calc(100vh - 80px);
}

.mainContentPro {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  background-color: white;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-radius: 50px;
}

.all {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 40px;
  width: 90%;
  height: auto;
  padding: 1%;
  margin-top: 2%;
  background-color: rgb(190, 190, 190);
}

.infosContainer {
  display: flex;
  align-items: center;
  width: 95%;
}

.img {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  position: relative;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0 20px 0 10px;
  opacity: 1;
  object-fit: contain;
}

.inputAvatar {
  opacity: 0;
  width: 195px;
  height: 195px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.custom-file-upload {
  position: relative;
  width: 12rem;
  height: 1.5rem;
  border-radius: 25px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  top: 1rem;
  left: 1rem;
  margin-top: 0;
}

.firstidea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 2rem;
  width: 100%;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.sdm {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.birthidea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2.5rem;
  width: 50%;
}

.white {
  border: 2px solid white;
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
}

.biography {
  text-align: left;
  border: 2px solid white;
  border-radius: 30px;
  width: 90%;
  height: 40%;
  margin: 1rem auto 1rem auto;
  padding: 15px;
}

.bio {
  font-weight: 500;
}

.textarea textarea {
  width: 100%;
}

.pencil {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 1100px) {
  .infosContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .containerFullPro {
    width: 95%;
    margin: 0 auto;
    justify-content: center;
  }

  .mainContentPro {
    padding: 2.5% 0;
  }

  .containerFullPro .all {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 40px;
    height: 100%;
    background-color: rgb(190, 190, 190);
  }

  .infosContainer {
    display: block;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }

  .img {
    width: 100%;
    align-items: center;
  }

  .white {
    background-color: #ffffff;
  }

  .biography {
    background-color: #ffffff;
    width: 80%;
    margin: auto auto 15px auto;
  }
}
