body {
  font-family: var(--font-family);
}

.all {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 40px;
  width: 95%;
  height: calc(100% - 20px);
  padding: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: var(--cases-form-background-color);
  box-shadow: var(--shadow-card-dark);
  font-family: var(--font-family);
}

.scrollBar {
  margin: 20px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
}

.scrollBar::-webkit-scrollbar {
  border-radius: 10px;
  background: transparent;
  width: 10px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  height: 1rem;
  border: 1px solid rgb(0, 0, 0);
}

.scrollBar::-webkit-scrollbar-track {
  border-radius: 10px;
}

.infosContainer {
  display: flex;
  align-items: center;
  width: 95%;
}

.imgA {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin: 0 20px 0 10px;
  opacity: 1;
  object-fit: cover;
}

.inputAvatar {
  opacity: 0;
  width: 195px;
  height: 195px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
}

.custom-file-upload {
  position: relative;
  width: 12rem;
  height: 1.5rem;
  border-radius: 25px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  top: 1rem;
  left: 1rem;
  margin-top: 0;
}

.firstidea {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%;
  gap: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
}

.sdm {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 1rem;
}

.birthidea {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2.5rem;
  width: 50%;
}

.white {
  border: 2px solid white;
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  background-color: var(--form-background-color);
}

.biography {
  text-align: left;
  border-radius: 30px;
  width: 90%;
  margin: 1rem auto 1rem auto;
  padding: 15px;
  position: relative;
  font-family: var(--font-family);
  font-size: larger;
  background-color: var(--form-background-color);
}

.crayon {
  display: flex;
  justify-content: right;
}

.crayon svg:hover path {
  fill: var(--secondary-color);
  color: white;
}

.crayon svg:active {
  scale: 1.2;
}

.validation {
  background-color: var(--primary-color);
  color: white;
  margin: 1rem;
  width: 30%;
  height: 2rem;
  border-radius: 10px;
  border: none;
}

.validation:hover {
  background-color: var(--secondary-color);
  color: white;
}

.validation:active {
  scale: 1.01;
}

.textareaProfile {
  background-color: var(--form-background-color);
  font-weight: var(--font-weight-bold);
  font-family: var(--font-family);
  font-size: 16px;
  resize: none;
  margin-top: 5px;
}

.newIdee {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ideeProfile {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  border-radius: 30px;
  width: 100%;
  overflow: hidden;
  background-color: var(--form-background-color);
}

.ideeProfile :first-child {
  margin-left: 15px;
}

.ideeProfile :last-child {
  margin-right: 15px;
}

@media screen and (max-width: 1100px) {
  .infosContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 1000px) {
  .containerFullPro {
    width: 95%;
    margin: 0 auto;
    justify-content: center;
  }

  .infosContainer {
    display: block;
    align-items: center;
    width: 95%;
    margin: 0 auto;
  }

  .img {
    width: 100%;
    align-items: center;
  }

  .white {
    background-color: #ffffff;
  }

  .biography {
    background-color: #ffffff;
    width: 80%;
    margin: auto auto 15px auto;
  }
}
