.ideaSelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0.5rem 10% 0 10%;
  gap: 5px;
}

.ideaAndSearch {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  height: 2.5rem;
  width: 100%;
}

.searchIdeaInput {
  width: 35%;
  border-radius: 25px;
}

.addIdea {
  width: 35%;
  background-color: var(--primary-color);
  border-radius: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addIdea:hover {
  background-color: rgb(166, 205, 239);
}

.addIdea:active {
  background-color: var(--secondary-color);
  scale: 1.02;
}

.serviceSelection {
  width: 100%;
  padding-bottom: 0.5rem;
}

.serviceSelection select {
  width: 100%;
  text-align: center;
  border-radius: 25px;
  height: 1.5rem;
}

@media screen and (width < 650px) {
  .addIdea {
    font-size: 14px;
  }
}

@media screen and (width < 600px) {
  .ideaAndSearch {
    font-size: 11px;
    justify-content: space-around;
  }

  .searchIdeaInput {
    font-size: 12px;
  }

  .addIdea {
    font-size: 12px;
  }
}

@media screen and (width < 360px) {
  .ideaAndSearch {
    font-size: 10px;
    gap: 3px;
  }

  .searchIdeaInput {
    font-size: 10px;
    width: 50%;
  }

  .addIdea {
    width: 50%;
  }
}
