.ideaSelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem 10% 0 10%;
}

.ideaAndSearch {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  width: 100%;
}

.searchIdeaInput {
  width: 35%;
  border-radius: 25px;
}

.addIdea {
  width: 35%;
  background-color: var(--primary-color);
  border-radius: 25px;
  color: white;
}

.addIdea:hover {
  background-color: rgb(166, 205, 239);
}

.addIdea:active {
  background-color: var(--secondary-color);
  scale: 1.02;
}

.serviceSelection {
  width: 100%;
  padding-bottom: 1rem;
}

.serviceSelection select {
  width: 100%;
  text-align: center;
  border-radius: 25px;
}
