.ideaSelection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10% 0 10%;
  /* width: 100%; */
}

.ideaAndSearch {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 5px 0;
  width: 100%;
}

.ideaSearch {
  width: 35%;
}

.addIdea {
  width: 35%;
  background-color: aliceblue;
}

.serviceSelection {
  width: 100%;
  padding-bottom: 1rem;
  /* margin: 0 auto; */
}

.serviceSelection select {
  width: 100%;
  text-align: center;
}

#service-select {
}
