:root {
  --primary-color: #00a1e0;
  --secondary-color: #0b5cab;
  --tertiary-color: #16325c;
  --form-background-color: #fcfafa;
  --cases-form-background-color: #eae7e7;
  --font-family: "Inter", sans-serif;
  --font-weight-bold: 700;
  --font-weight-regular: 400;
  --box-radius: 50px;
}

.Global {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
  margin: 40px;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  scroll-margin: 20px;
  /* background-color: #0b5cab; */
  overflow-x: hidden;
  overflow-y: scroll;
  height: 80vh;
}

.Global::-webkit-scrollbar {
  border-radius: 10px;
  background: transparent;
  width: 10px;
}

.Global::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
  height: 1rem;
  border: 1px solid rgb(0, 0, 0);
}

.Global::-webkit-scrollbar-track {
  border-radius: 10px;
}

.Services {
  /* min-width: 240px; */
  min-height: 250px;
  background-color: var(--form-background-color);
  border-radius: var(--box-radius);
  text-align: center;
  box-shadow: 4px 4px 20px rgba(22, 50, 92, 0.2);
  display: inline-block;
  width: 13rem;
}

.NomsServices {
  color: white;
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  border-radius: 50px 50px 0px 0px;
  /* padding-top: 5%; */
  /* padding-bottom: 2%; */
  padding: 10px;
}

.Caract {
  font-family: var(--font-family);
  font-weight: var(--font-weight-bold);
  padding-bottom: 50px;
}

p {
  padding: 10px;
}
@media screen and (max-width: 1400px) {
  .Global {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 1130px) {
  .Global {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: 20px 0 20px 20px;
  }
}

@media screen and (max-width: 1000px) {
  .Global {
    /* margin-left: 40px; */
    display: flex;
    flex-wrap: wrap;
  }
}
