.UserCard {
  border-radius: 25px;
  background-color: var(--form-background-color);
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
  /* max-width: 200px; */
  justify-content: center;
  cursor: pointer;
}

.containerUserCardImg {
  height: 100px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.containerUserCardImg > img {
  height: 100%;
}

h2,
h3,
h4 {
  margin: auto;
  text-align: center;
}

h4 {
  margin-top: 10px;
}
